services:
  timescale:
    image: timescale/timescaledb-ha:pg17
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
  redis:
    image: redis:8.2
    ports:
      - 6379:6379
      - 6380:6380
